.recipeTitleContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 3rem; 
  }

  .image{
    /* width: 100px;
    height: 50px; */
  }