.instructionsInput {
  width: 4rem;
  height: 0.001rem;
  display: inline-block;
  padding: 7px;
  outline: none;
  font-size: 1rem;
  color: black;
  border-radius: 3px;
  border: 1px solid white;
  background-color: rgb(44, 129, 194);
  
  @media (min-width: 800px) {
      width: 9em;
      height: 2.5em;
    }

    @media (max-width: 799px) {
        color: white;
    }
}

.instructionsInput:focus {
  border: 2px solid rgb(31, 31, 183);
}


.instructionsInput::placeholder {
  color: white;
  font-style: italic;
}
