.selecte {

    background-color: #a09a9a;
    padding: 5px;
    border-radius: 5px;
    display: inline-block;
    color: white;
    height: 2.5em;
    border: 2px solid black;

    width: 10em;

    @media(min-width: 500px){

        height: 2.5em;
        
    }

  }
  
.selecte:focus{

border: 2px solid rgb(248, 15, 15);

}

.option {

background-color: rgb(248, 15, 15);
color: #333;

}