.heroImage{
    background-image: url(https://www.royco.co.za/cdn-cgi/image/width=1440,height=640,f=auto,quality=90/sites/g/files/fnmzdf1866/files/2023-04/Recipe%20BackgroundUpdate.jpg);
    height: 400px;
    background-repeat: no-repeat;  
}


