.heroImage {
  background-image: url(https://www.royco.co.za/cdn-cgi/image/width=1440,height=640,f=auto,quality=90/sites/g/files/fnmzdf1866/files/2023-04/Recipe%20BackgroundUpdate.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  /* height: 50vh; */
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: 800px) {
    height: 60vh;
  }

  @media (max-width: 799px) {
    height: 100vh;
    background-position: left center;
    background-size: cover;
  }
}


.heroContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding: 2em;
  background-color: rgb(59 130 246 / 0.5);
  border: 2px solid grey;

  @media (min-width: 800px) {
    display: flex;

    gap: 50px;
  }

  @media (max-width: 799px) {
    align-items: center;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
  }
}

.search {
  margin: auto;
  color: white;
}

.filters {
  display: flex;
  gap: 20px;
  justify-content: center;
}
