.heroImage {
  background-image: url(https://www.royco.co.za/cdn-cgi/image/width=1440,height=640,f=auto,quality=90/sites/g/files/fnmzdf1866/files/2023-04/Recipe%20BackgroundUpdate.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heroContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding: 2em;
  border: 2px solid grey;

  @media (min-width: 800px) {
    display: flex;
    
    gap: 50px;
  }
}


.search{

  margin: auto;
}

.filters{

  display: flex;
  gap: 20px;
  justify-content: center;
  
}