@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* global-styles.css */
body {
  
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  background-color: #ead9d9;;
}

h1{
  font-size: 25px;
}
