@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: rgb(99, 99, 218);
  --background-start-rgb: pink;
  --background-end-rgb: purple;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: pink;
    --background-start-rgb: brown;
    --background-end-rgb: yellow;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* Light mode styles */
.light-mode {
  background-color: #ffffff;
  color: #000000;
}

/* Dark mode styles */
.dark-mode {
  background-color: #1a1a1a;
  color: #ffffff;
}