@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* global-styles.css */
body {
background-color: rgba(81, 132, 216, 0.5);
;

} 

/* h1{
  font-size: 25px;
}

/* styles.css */
.category-content,
.servings-content,
.tags-content {
  display: none;
}

.category-button.active + .category-content,
.servings-button.active + .servings-content,
.tags-button.active + .tags-content {
  display: block;
}
