/* Import Tailwind CSS base, components, and utilities */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Global styles */
.dark-mode {
  background-color: rgba(13, 32, 62, 0.637);
}
.light-mode {
  background-color: rgba(5, 91, 229, 0.5);
}

/* Header 1 styles */
h1 {
  font-size: 25px;
}

/* Hide and show content based on active buttons */
.category-content,
.servings-content,
.tags-content {
  display: none;
}

.category-button.active + .category-content,
.servings-button.active + .servings-content,
.tags-button.active + .tags-content {
  display: block;
}

/* Highlight class for search term */
.YourHighlightClass {
  background-color: yellow;
  font-weight: bold;
}
